.search_box_styling {
  width: 40vw;
  height: 37px;
  background: #2E3E4D;
  backdrop-filter: blur(4px);
  outline: none;
  border-radius: 7px;
  border: none;
  margin: auto;
  color: #FFF;
  padding-left: 40px;
  font-size: 16px;
}

::placeholder {
  color: rgba(228, 222, 222, 0.7);
  /* padding-left: 50px; */
  text-align: center;
  font-weight: lighter;
}


.search_icon_box{
    width: 25px;
    position: absolute;
    left: 10px;
    bottom: 7px;
}

@media screen and (max-width: 600px) {
  .search_box_styling{
    width: 70vw;
    margin-top: 20px;
  }

  .search_icon_box{
    left: 52px;
    bottom: 0px;
  }
}